.sendbox{
    width: 100%;
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    max-width: 700px;
    min-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", Helvetica, sans-serif;
    h1{
        text-align: center;
        margin-bottom: 8px;
        @media screen and (max-width: 520px) {
            font-size: 38px;
        }
    }
    input, textarea{
        width: 100%;
        outline: none;
        border: none;
        background: #F1F1F1;
        &:hover{
            cursor: pointer;
        }
    }
    .file{
        visibility: hidden;
    }
    .title{
        margin-bottom: 5px;
        font-weight: bold;       
        font-size: 24px;
        @media screen and (max-width: 520px) {
            font-size: 30px;
        }
    }
    textarea{
        font-size: 16px;
        resize: none;
        overflow: auto;
        @media screen and (max-width: 520px) {
            font-size: 24px;
        }
    }
}
.form{
    background: #F1F1F1;
    padding: 10px;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
    }
}
.btns{
    display: flex;
    width: 100%;
    @media screen and (max-width: 520px) {
        flex-direction: column-reverse;
    }
}
.btn{
    background: white;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    margin-top: 20px;
    &:hover{
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 8px -3px inset,
         rgba(0, 0, 0, 0.3) 0px 6px 8px -6px inset;
    }
    &--left{
        border-radius: 8px 0 0 8px;
    }
    &--right{
        border-radius: 0 8px 8px 0;
    }
    @media screen and (max-width: 520px) {
        border-radius: 8px;
        width: 100%;
        font-size: 24px;
    }
}