.profil{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-right: 6px;
    width: 700px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media screen and (max-width : 630px) {
        flex-direction: column;
        align-items: center;
    }
    &__info{
        margin: 0 auto;        
        text-align: left;
        height: 100%;
        width: 700px;
        @media screen and (max-width : 630px) {
            padding: 10px;
            width: 90%;
        }
        &__header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .edit{
                display: flex;
                margin-right: 8px;
                align-items: center;
                height: fit-content;
                transition-duration: 0.3s;
                &:hover{
                    transform: scale(1.2) rotate(6deg);
                    cursor: pointer;
                }
                
                img{
                    width: 20px;
                }
            }
        }
        .bio{
            padding: 10px;
            text-align: justify;
        }
        h2{
            margin: 10px;
        }
        h3{
            margin: 10px;
        }
        h2{
            @media screen and (max-width : 630px) {
                text-align: center;
            }
        }

    }
}
.contact{
    margin-bottom: 20px;
}
ul{
    padding: 0 10px;
}
li{
    list-style-type: none;
    padding: 0 10px;
}

.cardSmall{   
    width: 100%;;
}
.thread{
    margin: 10px auto;
    width: 700px;
    border: 2px;
    padding: 10px 0;
    
    h2{
        padding: 20px 10px;
    }
}